<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic" >
    <link rel="stylesheet" href="~/css/style.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container-fluid main-container">
        <div class="row main-content">
            <nav class="main-menu col-xl-2 bg-dark justify-content-between d-flex flex-column">
                <ul class="menu-list  nav flex-column">
                    <li class="nav-item">
                        <a asp-controller="Products" asp-action="Index" class="nav-link text-secondary">Продукты</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Clients" asp-action="Index" class="nav-link text-secondary">Клиенты</a>
                    </li>
                    <li class="nav-item mr-auto">
                        <a asp-controller="Licenses" asp-action="Index" class="nav-link text-secondary">Лицензии</a>
                    </li>
                    <li class="nav-item mr-auto">
                        <a asp-controller="LicenseSessions" asp-action="Index" asp-route-count="100" class="nav-link text-secondary">Сессии</a>
                    </li>
                    <li class="nav-item mr-auto">
                        <a asp-controller="Hardwares" asp-action="Index" class="nav-link text-secondary">Железо</a>
                    </li>
                    <li class="nav-item mr-auto">
                        <a asp-controller="IPs" asp-action="Index" class="nav-link text-secondary">IP</a>
                    </li>
                    <li class="nav-item mr-auto">
                        <a asp-controller="AdminSessions" asp-action="Index" class="nav-link text-secondary">Админ сессии</a>
                    </li>
                </ul>
                <form asp-controller="Account" asp-action="LogOff" asp-area="">
                    <button type="submit" class="btn btn-outline-danger">Выход</button>
                </form>
            </nav>
            <div class="col-xl-10 p-0">
                <section class="content-section">
                    <main class="page">
                        @RenderBody()
                    </main>
                </section>
            </div>
        </div>
    </div>
<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function() {
        $('.data-table').DataTable({
            paging: true,
            "order": [[1, "desc"]]
        });
    });
</script>
@RenderSection("Scripts", false)
</body>
</html>